<h1> <%= @student.name %></h1>
<h4>Mod: <%= @student.mod %></h4>

<h2>Ducks:</h2>

<div>
    <ul>
        <% @student.my_ducks.each do |duck|%>
            <li><%= duck.name %></li>
        <% end %>
    </ul>
</div>