<h1><%= @student.name %></h1>


<div>
    <ul>
        <% @student.ducks.each do |duck| %>
        <li><%= duck.name %></li>
        <% end %>
    </ul>
</div>

<%# Delete button %>
<div>
    <%= button_to "Delete Student", student_path(@student), method: :delete %>
</div>