<h1>Duck Details:</h1>

<table>
    <tr>
        <td>Name</td>
        <td>:<%= @duck.name %></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>:<%= @duck.description %></td>
    </tr>
    <tr>
        <td>Student</td>
        <td>:<%= link_to @duck.student.name, student_path(@duck.student)%></td>
    </tr>

</table>