<h1><%= @duck.name %></h1>

<h3>Description:</h3>
<%= @duck.description %>

<h3>Belongs to:</h3>

<div>
    <ul>
        <% @duck.my_owners.each do |owner| %>
            <li><%= owner.name %></li>
        <% end %>
    </ul>
</div>
